html {
	font-family: Georgia;
}

.container-fluid {
  background-color: #696363; }

header {
    font-size: 260%;
}

.headtext {
  text-align: center;
  font-family: Georgia;
}

nav {
  text-align: center;
}

.block1 {
  background-color: #fcc5ce;
  height: 300px;
}

.block2 {
  background-color: #cb7978; 
  font-size: 250%;
}

.block3, .block4, .block5 {
  background-color: #fcc5ce; 
  font-size: 190%
} 

.block6 {
  color: white;
  background-color: #2e2e2e;
  font-size: 250%;
  height: 120px;
}

ul {
list-style: none;
justify-content: space-around;
}


.logo {
	float:left;
  width:375px;
}

.picture {
  width:230px;
}

a:link {
  color: #453834;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

a:visited {
  color: #a35252;
}

a:active {
  color: #ffdff0;
} 

a:hover {
  color: #ff8ca7;
}

input {
    font-size: 30px;
    font-family: Verdana;
}

textarea {
    font-size: 30px;
    font-family: Verdana;
}

option {
    font-size: 30px;
    font-family: Verdana;
}

h2 {
  text-align: center;
}

table {
  margin: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 30px;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: center;
}
th {
  font-weight: normal;
  color: #303030;
  border-bottom: 2px solid #ca7978;
  padding: 10px 8px;
}
td {
  padding: 9px 8px;
  transition: .3s linear;
}

tr:nth-child(odd) {
background-color: #a35252;
}

tr:nth-child(even) {
background-color: #ffdff0;
}


@media screen and (min-width: 992px) and (orientation: landscape) {

.li1 {
  display: inline;
 }

.block2 {
    font-size: 150%;
}

.block3, .block4, .block5 {
font-size: 100%;
}

.logo {
  width:200px;
}

.block1 {
  height: 170px;
}


.block5 {
  line-height: 1;
}

.headtext {
  font-size: 70%;
  text-align: left;
}

input {
    font-size: 14px;
}

textarea {
    font-size: 14px;
}

option {
    font-size: 14px;
}


table {
  font-size: 14px;
}

.picture {
  width:150px;
}


 .li1 {
  display: inline;
 }

.block6 {
  font-size: 90%;
  height: 45px;

}

}
