html, body {
	margin: 0;
	padding: 0;
	font-family: Georgia;
	height: 100%;
}

a:link {
  color: #453834;
}
a:visited {
  color: #a35252;
}

a:active {
  color: #ffdff0;
} 

a:hover {
  color: #ff8ca7;
}

div {
	width:100%;
	padding: 10px;
}

* {
	box-sizing: border-box;
}

.header {
	width: 100%;
	height: 190px;
	background:#fcc5ce;
}

.p {
	background-color:#fcc5ce;
	padding:10px;
	font-size: 170%;
}

.container {
	padding: 30px
	width: 100%;
	min-height: 260vh;
	background: #696363;
}

.nav {
	width: 700px;
	height: 75px;
	background:#cb7978;
margin: 1%;
margin-left: auto;
margin-right: auto;
position: relative;
font-size: 110%;
text-align: center;
}


.text {
	position: absolute;
    top: 25%;
}


h1 {
	text-align: center;
	font-size: 150%;
}

.content {
	width: 880px;
	background:#fcc5ce;
	padding: 35px;
	margin: 2%;
	margin-left: auto;
	margin-right: auto;
}


table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #303030;
  border-bottom: 2px solid #ca7978;
  padding: 10px 8px;
}
td {
  color: #ca7978;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {
  color: #ca7978;
}

.footer {
	width: 100%;
	height: 45px;
	background: #2e2e2e;
	color: white;

}
