#main-aside-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #696363;

}

#main-aside-wrapper header, #main-aside-wrapper nav, #main-aside-wrapper list, #main-aside-wrapper tabl, #main-aside-wrapper forma, #main-aside-wrapper footer  {
  margin: 0;
  padding: 1%;
}

#main-aside-wrapper list, #main-aside-wrapper tabl, #main-aside-wrapper forma {
background-color: #fcc5ce; 
font-size: 78%;
padding: 9%;
}


#main-aside-wrapper header {
	background-color: #fcc5ce;
	height: 280px;
	padding-top: 70px;
  order: 1;
  font-size: 185%;

}

#main-aside-wrapper nav {
	background-color: #cb7978; 
	text-align: center;
  flex: 1;
  order: 2;
  font-size: 290%;
}

#main-aside-wrapper list {
  flex: 1;
  order: 3;
}

#main-aside-wrapper tabl {
  order: 4;
}

#main-aside-wrapper forma {
	line-height: 1;
  order: 5;
}


#main-aside-wrapper footer {
	color: white;
	background-color: #2e2e2e;
	font-size: 190%;
  flex: 1;
  order: 6;
  height: 170px;

}

#n ul {
list-style: none;
justify-content: space-around;
}


.logo {
	float:left; margin:5px; width:385px; margin-left: 53px; margin-top: auto;
}

.picture {
	margin:1px;
	width:230px;
}


input {
    font-size: 30px;
    font-family: Verdana;
}

textarea {
    font-size: 30px;
    font-family: Verdana;
}

option {
    font-size: 30px;
    font-family: Verdana;
}


html {
	font-family: Georgia;
}

body {
	margin: 0;
}


a:link {
  color: #453834;
}
a:visited {
  color: #a35252;
}

a:active {
  color: #ffdff0;
} 

a:hover {
  color: #ff8ca7;
}

.headtext {
	text-align: center;
	font-size: 150%;
	padding-top: 90px;
}

h2 {
	text-align: center;
	font-size: 110%;
}

 .li1 {display: block;}


table {
	margin: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 30px;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: center;
}
th {
  font-weight: normal;
  color: #303030;
  border-bottom: 2px solid #ca7978;
  padding: 10px 8px;
}
td {
  padding: 9px 8px;
  transition: .3s linear;
}


tr:nth-child(odd) {
background-color: #a35252;
}

tr:nth-child(even) {
background-color: #ffdff0;
}

@media screen and (min-width: 800px) and (orientation: landscape) {

#main-aside-wrapper list, #main-aside-wrapper tabl, #main-aside-wrapper forma {
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 0;
}

#main-aside-wrapper list, #main-aside-wrapper tabl, #main-aside-wrapper forma {
font-size: 100%;
padding: 30px;
}

.logo {
	margin:10px; width:200px; margin-left: 150px;
}

#main-aside-wrapper header {
	height: 170px;
	padding-top: 10px;
  font-size: 170%;
  font-family: Georgia;
}

#main-aside-wrapper nav {
    width: 700px;
    height: 75px;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
}

#main-aside-wrapper forma {
	line-height: 1;
	flex: 1;
  order: 4;
  margin-bottom: 3%;
}

.headtext {
	font-size: 100%;
	padding-top: 60px;
	text-align: left;
}

input {
    font-size: 14px;
}

textarea {
    font-size: 14px;
}

option {
    font-size: 14px;
}


table {
  font-size: 14px;
}

.picture {
	width:150px;
}

h2 {
	font-size: 150%;
}

 .li1 {
 	display: inline;
 }

#main-aside-wrapper footer {
	font-size: 100%;
  height: 45px;

}

}
