.window {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 83, 81, 0.8);
    display: none;
}

.popup {
    position: absolute;
    background: #ffffff;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top: 60px;
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup form input {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 15px;
    border: 2px solid #000000;
}

.popup form input[type="submit"] {
    background: #000000;
    color: #ffffff;
    font-size: 20px;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.no-scroll {
    overflow-y: hidden;
}

textarea {
    font-size: 10px;
    padding: 5px;
    border: 2px solid #000000;

}
  
input:focus {
    background: #eaeaea;
  }

.politica {
    font-size: 5px;
  }

.accept {
    margin: 0;
}

@media only screen and (max-width : 768px) {

    .popup {
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: rgb(0, 156, 151);
    }

    .popup form input {
        font-size: 20px;
    }

}
  
